:root {
    --main-bg-color: rgb(174, 207, 168);
    --secondary-bg-color: #89c08b;
    --accent-color: #2a4e2a;
    --text-color: #ffffff;
    --hover-bg-color: #2a4e2a;
}
body, html {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}
.navbar, .navbar-brand, .nav-item, .nav-link {
	font-family: Arial, sans-serif;
	background-color: var(--main-bg-color);
	color: var(--text-color);
	font-size: 18px;
}
.navbar-brand:hover {
	color: white;
	outline: none;
	text-decoration: none;
}
.container {
    border: 5px solid #ffffff;
    background-color: var(--main-bg-color);
}
.matcha-background {
	background-color: var(--main-bg-color);
	/* display: flex;
	height: 100% */
}
.text-container, .title {
	flex: 1;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.learn_img {
    display: flex;
    align-items: center;
}
.image-container {
	flex: 1;
	position: relative;
}
.learn_img img, .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
iframe {
    width: 100%;
    border: none;
}
.nav-buttons button {
    background-color: var(--secondary-bg-color);
    padding: 10px 15px;
    margin: 10px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}
.nav-buttons button:hover {
    background-color: var(--hover-bg-color);
}
h1, h2 {
    color: var(--text-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
.learn_img.matcha_green_tea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn_text {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.ingredient_info {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.matcha-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.75;
}
.btn-matcha, button {
	background-color: #89c08b;
	color: white;
	border: none;
	padding: 10px 20px;
    border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}
.btn-matcha:hover, .btn-matcha:active, .btn-matcha:focus, button:hover, button:active, button:focus, .nav-link:hover {
	background-color: var(--hover-bg-color);
	color: white;
	outline: none;
	text-decoration: none;
}
.step {
	display: none;
	color: white;
}
/* h2 {
	color: white;
    padding: 10px;
    border-radius: 5px; 
} */
.active {
	display: block;
}
/* .nav-buttons {
	padding-top: 20px;
} */
.learn_img img {
    width: 500px;
    height: 500px;
}
.step_info {
    margin-left: 20px;
}
.contain {
	text-align: center;
	margin-top: 100px;
}
em {
    font-weight: bold;
}
.btn, .start-button, button {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn:hover, .start-button:hover, button:hover {
    background-color: var(--hover-bg-color);
}

#progress-bar-container-learn {
    width: 100%;
    background-color: #ddd;
    margin: 20px 0;
    border-radius: 15px;
}

#progress-bar-learn {
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
}

#progress-bar-container-quiz {
    width: 97%;
    background-color: #ddd;
    margin: 20px auto;
    border-radius: 15px;
}

#progress-bar-quiz {
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px;
    white-space: nowrap;
    position: relative;
}
