{% extends "layout.html" %}
{% block content %}
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="matcha-background container-fluid">
    <div class="text-container">
        <h1>Let's learn to be a Matcha Latte Expert!</h1>
        <a href="{{ url_for('learn') }}" class="btn-matcha">START LEARNING</a>
    </div>
    <div class="image-container">
        <img src="https://jackie-ryu-research.s3.amazonaws.com/iced-matcha-latte.jpg" class="matcha-image" alt="Matcha Latte">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock %}
