{% extends "layout.html" %}
{% block content %}
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="matcha-background container-fluid">
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <img src="https://64.media.tumblr.com/e1df06eb11851557e30b20f5f82bc700/6db2804fc1f13848-d2/s500x750/704458a105f7dee519116768ec89fc0dd35eef03.png" class="img-fluid" alt="Matcha Latte">
        </div>
	</div>
	<div class="row justify-content-center">
        <div class="col-12 text-center">
			<h1>Let's learn to be a <i>Matcha</i> Expert!</h1>
            <a href="{{ url_for('learn') }}" class="btn-matcha">START LEARNING</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock %}
